name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build APK with Buildozer
      id: buildozer
      uses: ArtemSBulgakov/buildozer-android-action@v1.2.1
      with:
        workdir: .

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: apk
        path: bin/*.apk
        if-no-files-found: warn
