name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 90

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build APK with Buildozer
      uses: ArtemSBulgakov/buildozer-android-action@v1.2.1

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: apk
        path: bin/*.apk
        retention-days: 30
